includes:
	- phpstan-baseline.neon

parameters:
	checkMissingIterableValueType: false
	doctrine:
		objectManagerLoader: test/object-manager.php
	ergebnis:
		classesAllowedToBeExtended:
			- Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository
			- Ergebnis\Example\Test\Integration\AbstractTestCase
			- Ergebnis\Example\Test\Unit\AbstractTestCase
			- Symfony\Bundle\FrameworkBundle\Test\KernelTestCase
			- Symfony\Component\HttpKernel\Kernel
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- config/
		- src/
		- test/
		- public/index.php
		- bin/console
	symfony:
		container_xml_path: var/cache/test/Ergebnis_Example_KernelTestDebugContainer.xml
	tmpDir: .build/phpstan/
